@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');

body {
  background-image: url(../img/wil-stewart-T26KCgCPsCI-unsplash.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-color: black;
}
.navbar-brand {
  font-family: 'Megrim', cursive;
}

.main-wrapper {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.main-theme {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 0;
  position: absolute;
  top: 10;
}

.main-theme-half {
  height: 50%;
  width: 100%;
  padding: 10px;
}

.main-theme-half--upper {
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: -4;
}
.main-theme-half--lower {
  position: absolute;
  bottom: 0;
}

.heading {
  color: rgba(38, 69, 126, 0.721);
  font-family: 'Megrim', cursive;
  font-size: calc(1.5rem + 5vw);
  font-weight: 700;
}

h1 span {
  transition: 0.7s;
}

h1:hover {
  cursor: pointer;
}
h1:hover span {
  color: rgba(134, 175, 251, 0.721);

  text-shadow: 90px rgba(255, 0, 0, 0.4), 90px rgba(255, 0, 0, 0.4),
    90px rgba(255, 0, 0, 0.4), 90px rgba(255, 0, 0, 0.4);
}

.quote_text,
.about_text,
.contact_text {
  width: 65%;
  color: rgb(127, 146, 202);
  padding: 10px;
  text-align: justify;
  text-justify: inter-word;
  font-family: 'Reem Kufi', sans-serif;
  font-size: calc(0.3rem + 1vw);
}
.quote span {
  color: brown;
}
.quote_source {
  font-size: calc(0.2rem + 0.5vw);
  color: rgb(87, 105, 159);
}

.contact-col {
  padding: 50px;
  color: rgb(98, 98, 98);
}

.email a {
  color: rgb(87, 105, 159);
}
.email a:hover {
  color: rgb(145, 161, 211);
}

.fas {
  font-size: 30px;
  color: rgb(144, 144, 144);
  text-justify: center;
}

#canvas {
  position: absolute;
  top: 10;
  z-index: -2;
  width: 100%;
}

#text h1 {
  opacity: 0.9;
}

/* points mask*/
.points-mask {
  position: absolute;
  top: 10;
  height: 93%;
  z-index: -1;
}

.circles-row {
  height: 33%;
  position: relative;
}

.circle {
  background-color: rgba(187, 187, 187, 0.578);
  height: 0.7vh;
  width: 0.7vh;
  border-radius: 50%;
}

.small {
  height: 0.2vh;
  width: 0.2vh;
}

.big {
  height: 2vh;
  width: 2vh;
}
/* media  */
@media (max-width: 650px) {
  .quote_text,
  .about_text {
    width: 100%;
  }
  .main-theme-half--upper {
    height: 40%;
  }

  .main-theme-half--lower {
    margin-top: 30px;
  }
}
